In [4]:
import pandas as pd
import numpy as np
import plotly.graph_objects as go
from dateutil.parser import parse

# structure (current Investment)
- Name: 
- Number of Stocks
- value
- buyDate 
- TotalCost
- External Charges


- user ID
P139346

In [5]:
dt = parse("20/01/2020")
print(dt)

2020-01-20 00:00:00

In [82]:
# enter data Buying Data
data = [['SBIN',3,311,parse("2020/02/03"),934.13],
        ['SBIN',10,198.70,parse("2020/03/26"),1987.00,20],
       ['YESBANK',1,37.10,parse("2020/03/05"),37.11],
        ['ONGC',10,74.55,parse("2020/03/09"),746.60],
        ['INFY',3,779.00,parse("2020/07/08"),2339.08],
        ['SBIN',13,198.40,parse("2020/07/10"),2582.30],
        ['IOLCP',23,770.52,parse("2020/07/21"),17743.36],
        ['SBICARDS',13,755,parse("2020/03/20"),14345],
       ]
df = pd.DataFrame(data)
df.fillna(0,inplace=True)
df.columns = ['Name','NumberOfStocks','BuyingPrice','BuyDate','TotalCost','ExtraCharges']
df["BrokerageCost"] = df.TotalCost - df.NumberOfStocks*df.BuyingPrice + df.ExtraCharges

In [83]:
df

,Name,NumberOfStocks,BuyingPrice,BuyDate,TotalCost,ExtraCharges,BrokerageCost
0,SBIN,3,311.00,2020-02-03,934.13,0.0,1.13
1,SBIN,10,198.70,2020-03-26,1987.00,20.0,20.00
2,YESBANK,1,37.10,2020-03-05,37.11,0.0,0.01
3,ONGC,10,74.55,2020-03-09,746.60,0.0,1.10
4,INFY,3,779.00,2020-07-08,2339.08,0.0,2.08
5,SBIN,13,198.40,2020-07-10,2582.30,0.0,3.10
6,IOLCP,23,770.52,2020-07-21,17743.36,0.0,21.40
7,SBICARDS,13,755.00,2020-03-20,14345.00,0.0,4530.00

In [84]:
# enter data SElling Data
dataSell = [  ['SBIN',10,196.50,parse("2020/03/26"),1965.00,27.43],
       ['INFY',3,932.00,parse("2020/07/16"),2792.89],
           ['SBICARDS',19,796,parse("2020/07/21"),15108.15]]
dfs = pd.DataFrame(dataSell)
dfs.fillna(0,inplace=True)
dfs.columns = ['Name','NumberOfStocks','BuyingPrice','BuyDate','TotalCost','ExtraCharges']
dfs["BrokerageCost"] = abs(dfs.TotalCost - dfs.NumberOfStocks*dfs.BuyingPrice + dfs.ExtraCharges)

In [85]:
dfs

,Name,NumberOfStocks,BuyingPrice,BuyDate,TotalCost,ExtraCharges,BrokerageCost
0,SBIN,10,196.5,2020-03-26,1965.00,27.43,27.43
1,INFY,3,932.0,2020-07-16,2792.89,0.00,3.11
2,SBICARDS,19,796.0,2020-07-21,15108.15,0.00,15.85

In [86]:
# Demat acc. investment
dataAcc = [  [1000,parse("2020/02/29"),'add'],
            [740,parse("2020/03/09"),'add'],
            [50,parse("2020/03/30"),'Div'],
           [5000,parse("2020/03/08"),'add'],
           [8000,parse("2020/03/08"),'add'],
           [14345,parse("2020/03/20"),'add']
           
      ]


dfAcc = pd.DataFrame(dataAcc)
dfAcc.fillna(0,inplace=True)
dfAcc.columns = ['Amount','Date','Description']

In [87]:

dfAcc

   Amount       Date Description
0    1000 2020-02-29         add
1     740 2020-03-09         add
2      50 2020-03-30         Div
3    5000 2020-03-08         add
4    8000 2020-03-08         add
5   14345 2020-03-20         add

In [90]:
currBalance = sum(dfAcc.Amount)-(sum(df.TotalCost)+sum(df.ExtraCharges)+sum(dfs.ExtraCharges)-sum(dfs.TotalCost))
print(f"Account Balance {currBalance}")

Account Balance 8239.029999999999

In [94]:
# profit
profit = (sum(dfs.TotalCost)-sum(dfs.ExtraCharges))+(sum(df.TotalCost)-sum(df.ExtraCharges)) -sum(dfAcc[dfAcc.Description == 'add'].Amount)

In [95]:
profit

31448.190000000002