# extract mapping for Angel Broking

In [1]:
import pandas as pd
import json
import os 
import re

# https://smartapi.angelbroking.com/docs/Historical
# historical api only available for NSE eqt section

In [2]:
df = pd.read_json("../assets/OpenAPIScripMaster.json")

In [8]:
# cropping the required data
df_cropped = df[df.exch_seg.isin(["BSE","NSE"])][["token","symbol","name","exch_seg"]]
df_cropped.to_csv("../assets/token_mapping.csv",index=False)

In [65]:
df = pd.read_csv("../assets/token_mapping.csv")

In [71]:
df[df.symbol.str.contains('-EQ') &  df["exch_seg"].str.contains('NSE')][["token",
                                                                        "symbol","name"]].to_csv("../assets/token_symbol.csv",index=False)

In [67]:
df[df.symbol.str.contains('BHEL')]

        token      symbol        name exch_seg
2019    12261     BHEL-BL        BHEL      NSE
2897      438     BHEL-EQ        BHEL      NSE
11372  719705  BHEL121120  BHEL121120      BSE
12225  720473   BHEL22321   BHEL22321      BSE
16376  500103        BHEL        BHEL      BSE
18279  720518   BHEL30321   BHEL30321      BSE
19119  720501   BHEL26321   BHEL26321      BSE

In [33]:
df[df.name=="ONGC"]

        token   symbol  name exch_seg
3988     2475  ONGC-EQ  ONGC      NSE
6315    12646  ONGC-BL  ONGC      NSE
14910  500312     ONGC  ONGC      BSE