# Testing out new features

In [1]:
import os
os.chdir("..")

In [2]:
from StockBoard import StockBoard
from StockData import StockData 
# import matplotlib.pyplot as plt
# %matplotlib inline

In [6]:
sd = StockData('alvin369')

In [9]:
sd.load()

In [12]:
df = sd.getData('sell')

In [24]:
df

     Amount        Date Description
0    5000.0  2020-11-20         add
1   10000.0  2020-11-19         add
2     -23.6  2020-11-07  DP Charges
3    3000.0  2020-11-06         add
4   10000.0  2020-11-04         add
5   20000.0  2020-11-02         add
6  -17727.0  2020-10-26         add
7     -23.6  2020-10-07  DP Charges
8     -23.6  2020-09-15  DP Charges
9   10000.0  2020-09-04         add
10   5000.0  2020-08-31         add
11  10000.0  2020-08-27         add
12    -70.8  2020-08-08  DP Charges
13   8000.0  2020-07-20         add
14   5000.0  2020-07-08         add
15     50.0  2020-03-30         Div
16  14345.0  2020-03-20         add
17    740.0  2020-03-09         add
18   1000.0  2020-02-29         add

In [26]:
# total invested Amount
df = sd.getData('invest')
actualInvest = df[df.Description == 'add'].Amount.sum()
# actualInvest = df[df.Description == 'add'].sum()
print("actual investment",actualInvest)

actual investment 84358.0

In [43]:
def getTotalBrokerage(sd):
    """ get total brokerage used including depository participant charges """
    df_sell = sd.Sell.BrokerageCost.sum()
    df_buy = sd.Buy.BrokerageCost.sum()
    df = sd.Invest
    df_invest = -df[df.Description != 'add'].Amount.sum()
    return df_sell+df_buy+df_invest

In [44]:
getTotalBrokerage(sd)

136.93 215.31999999999996 91.60000000000002

443.85

In [35]:
sd.Invest.Amount.sum()

84266.4

In [37]:
getTotalBrokerage(sd.Sell)+getTotalBrokerage(sd.Buy)+actualInvest-sd.Invest.Amount.sum()

443.8500000000058