In [1]:
import pandas as pd
import numpy as np
# import plotly.graph_objects as go
from dateutil.parser import parse

# structure (current Investment)
- Name: 
- Number of Stocks
- value
- buyDate 
- TotalCost
- External Charges


- user ID
P139346

In [2]:
# enter data Buying Data
data = [['SBIN',3,311,parse("2020/02/03"),934.13],
        ['SBIN',10,198.70,parse("2020/03/26"),1987.00,20],
       ['YESBANK',1,37.10,parse("2020/03/05"),37.11],
        ['ONGC',10,74.55,parse("2020/03/09"),746.60],
        ['INFY',3,779.00,parse("2020/07/08"),2339.08],
        ['SBIN',13,198.40,parse("2020/07/10"),2582.30],
        ['IOLCP',23,770.52,parse("2020/07/21"),17743.36],
        ['SBICARDS',19,755,parse("2020/03/20"),14345],
        ['HDFC',5,1030,parse("2020/07/31"),5156.19],
        ['RELIANCE',10,2125,parse("2020/07/29"),21274.12],
        ['IOLCP',5,740.00,parse("2020/07/22"),3705.13]
       ]
dfBuy = pd.DataFrame(data)
dfBuy.fillna(0,inplace=True)
dfBuy.columns = ['Name','NumberOfStocks','BuyingPrice','Date','TotalCost','ExtraCharges']
dfBuy["BrokerageCost"] = dfBuy.TotalCost - dfBuy.NumberOfStocks*dfBuy.BuyingPrice + dfBuy.ExtraCharges

In [3]:
dfBuy.sort_values(by='Date')

,Name,NumberOfStocks,BuyingPrice,Date,TotalCost,ExtraCharges,BrokerageCost
0,SBIN,3,311.00,2020-02-03,934.13,0.0,1.13
2,YESBANK,1,37.10,2020-03-05,37.11,0.0,0.01
3,ONGC,10,74.55,2020-03-09,746.60,0.0,1.10
7,SBICARDS,19,755.00,2020-03-20,14345.00,0.0,0.00
1,SBIN,10,198.70,2020-03-26,1987.00,20.0,20.00
4,INFY,3,779.00,2020-07-08,2339.08,0.0,2.08
5,SBIN,13,198.40,2020-07-10,2582.30,0.0,3.10
6,IOLCP,23,770.52,2020-07-21,17743.36,0.0,21.40
10,IOLCP,5,740.00,2020-07-22,3705.13,0.0,5.13
9,RELIANCE,10,2125.00,2020-07-29,21274.12,0.0,24.12
8,HDFC,5,1030.00,2020-07-31,5156.19,0.0,6.19

In [6]:
# save file
# dfBuy.to_csv("./data/dfBuy.csv",index=False)

In [5]:
# 17099.37+4174.75
19.37+4.75

24.12

In [7]:
# enter data SElling Data
data = [  ['SBIN',10,196.50,parse("2020/03/26"),1965.00,27.43],
           ['INFY',3,932.00,parse("2020/07/16"),2792.89],
           ['SBICARDS',19,796,parse("2020/07/21"),15108.15],
           ['IOLCP',28,796,parse("2020/07/29"),22312.49]
           ]
dfSell = pd.DataFrame(data)
dfSell.fillna(0,inplace=True)
dfSell.columns = ['Name','NumberOfStocks','SellingPrice','Date','TotalCost','ExtraCharges']
dfSell["BrokerageCost"] = abs(dfSell.TotalCost - \
                              dfSell.NumberOfStocks*dfSell.SellingPrice + dfSell.ExtraCharges)

In [8]:
dfSell.sort_values(by='Date')

,Name,NumberOfStocks,SellingPrice,Date,TotalCost,ExtraCharges,BrokerageCost
0,SBIN,10,196.5,2020-03-26,1965.00,27.43,27.43
1,INFY,3,932.0,2020-07-16,2792.89,0.00,3.11
2,SBICARDS,19,796.0,2020-07-21,15108.15,0.00,15.85
3,IOLCP,28,796.0,2020-07-29,22312.49,0.00,24.49

In [10]:
#save
# dfSell.to_csv("./data/dfSell.csv",index=False)

In [11]:
# Demat acc. investment
data = [  [1000,parse("2020/02/29"),'add'],
            [740,parse("2020/03/09"),'add'],
            [50,parse("2020/03/30"),'Div'],
           [5000,parse("2020/07/08"),'add'],
           [8000,parse("2020/07/20"),'add'],
           [14345,parse("2020/03/20"),'add']
           
      ]


dfInvest = pd.DataFrame(data)
dfInvest.fillna(0,inplace=True)
dfInvest.columns = ['Amount','Date','Description']

In [12]:
dfInvest.sort_values(by='Date')

   Amount       Date Description
0    1000 2020-02-29         add
1     740 2020-03-09         add
5   14345 2020-03-20         add
2      50 2020-03-30         Div
3    5000 2020-07-08         add
4    8000 2020-07-20         add

In [13]:
#save
#dfInvest.to_csv("./data/dfInvest.csv",index=False)

In [13]:
import os

In [17]:
os.chdir('./')
os.curdir

'.'

In [60]:
%%writefile StockData.py

import os
import pandas as pd
class StockData:
    def __init__(self,):
        self.Buy = None
        self.Sell = None
        self.Invest = None
        try:
            assert os.path.isdir('data') == True
        except:
            print("./data folder not found ")
            
        self.location = './data/'
    
    def load(self,):
        """ Load the values form ./data folder"""
        self.Buy = self.loadData('dfBuy.csv')
        self.Sell = self.loadData('dfSell.csv')
        self.Invest = self.loadData('dfInvest.csv')
        print("Files Successfully loaded")
    
    def getData(self,s):
        dic = {'buy':self.Buy, 'sell':self.Sell, 'invest':self.Invest}
        return dic[s.lower()]
        
    def loadData(self,s):
        try:
            assert os.path.isfile(self.location+s) == True
        except:
            print(f"{self.location+s} file not found ")
        return pd.read_csv(self.location+s)

Overwriting StockData.py

In [54]:
sd = StockData()
sd.load()

Files Successfully loaded

In [46]:
sd.Invest

   Amount        Date Description
0    1000  2020-02-29         add
1     740  2020-03-09         add
2      50  2020-03-30         Div
3    5000  2020-07-08         add
4    8000  2020-07-20         add
5   14345  2020-03-20         add

In [64]:
%%writefile StockBoard.py
import pandas as pd
import numpy as np
# import plotly.graph_objects as go
from dateutil.parser import parse


class StockBoard:
    
    def __init__(self,data):
        """Contains all funciton of StockBoard"""
        self.data = data
        
    def getFilterdDate(self,dfName,date ):
        # date in string format
        df = self.data.getData(dfName)
        return df[df.Date <= parse(date)]

    def getCurrBalance(self,):
        dfBuy, dfSell, dfInvest = self.data.Buy, self.data.Sell, self.data.Invest
        val =  sum(dfInvest.Amount)-(   sum(dfBuy.NumberOfStocks*dfBuy.BuyingPrice)+ \
                sum(dfBuy.BrokerageCost)+sum(dfSell.BrokerageCost) \

                -sum(dfSell.NumberOfStocks * dfSell.SellingPrice))
        return round(val,2)

Overwriting StockBoard.py

In [187]:
date = '2020/07/8'
dfBuyTemp = getFilterdDate(dfBuy,date)
dfSellTemp = getFilterdDate(dfSell,date)
dfInvestTemp = getFilterdDate(dfInvest,date)

currBalance = getCurrBalance(dfBuyTemp,dfSellTemp,dfInvestTemp)
currBalance =  np.round(currBalance,2)
print(f"Account Balance {currBalance} on {date}") #367.10

Account Balance 2663.65 on 2020/07/8

In [160]:
# profit
profit = (sum(dfs.TotalCost)-sum(dfs.ExtraCharges))+(sum(df.TotalCost)-sum(df.ExtraCharges)) -sum(dfAcc[dfAcc.Description == 'add'].Amount)

In [161]:
profit

83895.79000000001

In [162]:
5523.29 - 5522.37

0.9200000000000728